body {
    background-color: #557a95;
    color: #5D5C61;
    font-family: sans-serif;
}

a {
    color: #5D5C61;
}

main,
HEADER,
footer {
    background-color: #7395AE;
    font-family: sans-serif;
}

ul {
    background-color: #7395AE
}

h1,
h2,
h4 {
    text-align: center;
    background-color: #7395AE
}